<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="upward">
<!--            <group id="upward" translate="label" type="text" sortOrder="300"-->
<!--                showInDefault="1" showInWebsite="1" showInStore="1">-->
<!--                <label>UPWARD PWA Configuration</label>-->
<!--                <field id="path" type="text" showInDefault="0" showInWebsite="0" showInStore="0" />-->
<!--                <field id="front_names_to_skip" canRestore="1" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30" translate="label,comment" type="textarea">-->
<!--                    <label>Front Name Allowlist</label>-->
<!--                    <comment>Line break separated list of URL's that will load the default Magento frontend.</comment>-->
<!--                </field>-->
                <field id="enabled" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label,comment" type="select">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled .</comment>
                </field>

            </group>
        </section>
    </system>
</config>
